@model List<double>
@{
    ViewData["Title"] = "Flight information";
}
<h1>@ViewData["Title"]</h1>
<hr/>
<p>Flight sale price :</p>
<p><b>@Model.ElementAt(0) CHF</b></p>
<hr/>
<p>Total sale price of flight :</p>
<p><b>@Model.ElementAt(1) CHF</b></p>
<hr/>
<p>@Html.ActionLink("Réserver un billet", "Booking", new { id=Model.ElementAt(2) })</p>
<hr />